<div class="ui container">
  <h3>Please check the events below.</h3>
  <div style="margin-top: 20px;" class="ui cards showList" *ngFor="let item of data.events">
    <div class="card">
      <div class="content">
        <div class="header">{{item.name}} <i class="location arrow icon"></i></div>
        <div class="description">
          {{item.start}} <i class="calendar alternate icon"></i>
        </div>
        <div class="description">
          {{item.end}}
        </div>
      </div>
    </div>
  </div>
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
